<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/Magazin Hardware</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <mapping class="md.cemirtan.magazinhardware.Procesor"/>
  <mapping class="md.cemirtan.magazinhardware.CPU"/>
  <mapping class="md.cemirtan.magazinhardware.GPU"/>
  <mapping class="md.cemirtan.magazinhardware.Disk"/>
  <mapping class="md.cemirtan.magazinhardware.RAM"/>
  <mapping class="md.cemirtan.magazinhardware.Firma"/>
  <mapping class="md.cemirtan.magazinhardware.Calculator"/>
 </session-factory>
</hibernate-configuration>
